{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2> {{ request.user.email }} </h2>
    <button  class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button  class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button  class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button  class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr style="background-color:black">

    <div id="emails-view">
    </div>

    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form" onSubmit="send_email()">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input required id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" class="btn btn-primary" id="SendBtn">
        </form>
    </div>

    <div id="email-view" class="container">

        <div class="row">
          <div class=" col-xs-12 col-sm-6">
            From: <strong id="email-from"> </strong>
          </div>
          <div class="col-xs-12 col-sm-6">
            <small id="email-date"> </small>
          </div>

        </div>

          <div class="row">
            <div class="col-12">
              Subject: <strong id="email-subject"> </strong>
            </div>
          </div>

          <hr>
            <textarea id="email-body" class="form-control"> </textarea>
            <br>

          <div id="options-view">
              <button  class="btn btn-outline-danger btn-sm" id="archive" onClick="archive_email()">Archive</button>
              <button  class="btn btn-outline-secondary btn-sm" id="reply" onClick="reply()">Reply</button>

          </div>

     </div>


{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}
